html {
	overflow-y: hidden;
	overflow-x: hidden;
}
html, body, #content-row, #play-space {
	height: 100%;
}
canvas {
	float: left;
}
#drawing-row {
	display: block;
	height: 65%;
}
#chatbox-row {
	display: block;
	height: 30%;
}
.jumbotron {
	margin-top: 3rem;
	border-radius: 25px;
	text-align: center;
	height: 50%
}
.container-fluid {
	/*Full height taking the header into account*/
	min-height: calc(100% - 142px);
	height: calc(100% - 142px);
	position: relative;
}
.side-nav {
	min-height: 100%;
	height: 100%;
}
.room-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 0;
	overflow-y: scroll;
}
.no-pointer {
	cursor: default;
}
.bd-pageheader{
	padding:2rem 15px;
	margin-bottom:1.5rem;
	color:#cdbfe3;
	text-align:center;
	background-color:#563d7c;
	margin-bottom: 0;
}
.bd-pageheader .container{
	position:relative;
}
.bd-pageheader h1{
	font-size:4rem;
	font-weight:400;
	color:#fff;
}
.bd-pageheader p{
	margin-bottom:0;
	font-size:2rem;
	font-weight:300;
}
#login-form {
	text-align: center;
}
/*TODO investigate height difference...*/
#uname, #join-lobby {
	height: 3rem;
	border-radius: 0px;
}
#sketchpad {
	border: 2px solid #d5d2cc;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
.list-group {
	background-color: #eee;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 0px;
	margin-right: 0px;
}
#rooms {
	padding-top: 1rem;
}
.chatbox {
	padding-left:0;
	overflow-y: hidden;
	height: 100%;
	/*white-space: pre-wrap;*/
}
.chatbox p {
	padding-left: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
}
.chat-cell {
	height:100%;
	word-wrap: break-word;
	overflow-y: scroll;
}
#send-message {
	width:100%;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #d5d2cc;
	border-bottom: 1px solid #d5d2cc;

}
/* Hide scrollbar. Maybe bring it back but with a nice gray one instead */
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
